plugin-resources/project-skeletons/xnat/src/schemas/project/project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Tim Olsen (Washington University) -->
<xs:schema targetNamespace="http://nrg.wustl.edu/arc" xmlns:arc="http://nrg.wustl.edu/arc" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xdat="http://nrg.wustl.edu/xdat" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ArchiveSpecification">
		<xs:annotation>
			<xs:documentation>Root Element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="globalPaths" type="arc:pathInfo"/>
				<xs:element name="fieldSpecifications" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="fieldSpecification" type="arc:fieldSpecification" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:appinfo>
										<xdat:field>
											<xdat:relation uniqueComposite="SPEC_NAME"/>
										</xdat:field>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="projects" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="project" type="arc:project" minOccurs="0" maxOccurs="unbounded">
								<xs:unique name="projectId">
									<xs:selector xpath=".//arc:project"/>
									<xs:field xpath="@id"/>
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="emailSpecifications" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="new_user_registration" type="xs:boolean" default="true"/>
						<xs:attribute name="pipeline" type="xs:boolean" default="true"/>
						<xs:attribute name="project_access" type="xs:boolean" default="true"/>
						<xs:attribute name="transfer" type="xs:boolean" default="true"/>
						<xs:attribute name="page_email" type="xs:boolean" default="true"/>
					</xs:complexType>
				</xs:element>
                <xs:element name="notification_types" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="notification_type" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:appinfo>
                                        <xdat:field uniqueComposite="VALUE">
                                            <xdat:relation uniqueComposite="VALUE"/>
                                        </xdat:field>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="email_addresses" type="xs:string" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
				<xs:element name="dcm" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="dcm_host" type="xs:string" use="optional"/>
						<xs:attribute name="dcm_port" type="xs:string" use="optional"/>
						<xs:attribute name="dcm_ae" type="xs:string" use="optional"/>
						<xs:attribute name="http_url" type="xs:string" use="optional"/>
						<xs:attribute name="applet_link" type="xs:boolean" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="site_id" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xdat:field unique="true"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="site_admin_email" type="xs:string" use="optional"/>
			<xs:attribute name="site_url" type="xs:string" use="optional"/>
			<xs:attribute name="smtp_host" type="xs:string" use="optional"/>
			<xs:attribute name="require_login" type="xs:boolean" use="optional"/>
			<xs:attribute name="enable_new_registrations" type="xs:boolean" use="optional"/>
			<xs:attribute name="enable_csrf_token" type="xs:boolean" use="optional"/>
			<xs:attribute name="quarantine_code" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>Whether image data for this project should be placed in quarantine</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="prearchive_code" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>0: all data placed in prearchive (default); 1: sessions which match precreated project, subject, and session id are auto-archived; 2: sessions which match precreated project and subject will be auto-archived; 3: sessions which match precreated projects will be auto-archived; 4: all sessions will be auto-archived</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="project">
		<xs:annotation>
			<xs:documentation>Describe specifications for a project identified by Attribute id</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paths" type="arc:pathInfo" minOccurs="0"/>
			<xs:element name="fieldSpecifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="fieldSpecification" type="arc:fieldSpecification" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<xdat:field>
										<xdat:relation uniqueComposite="SPEC_NAME"/>
									</xdat:field>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="properties" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="property" type="arc:property" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<xdat:field>
										<xdat:relation uniqueComposite="PROP_NAME"/>
									</xdat:field>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pipelines" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="descendants" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Pipelines for the entities that descend from a project</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="descendant" maxOccurs="unbounded">
										<xs:annotation>
											<xs:appinfo>
												<xdat:field>
													<xdat:relation uniqueComposite="true" relationType="single"/>
												</xdat:field>
											</xs:appinfo>
											<xs:documentation>Specify pipelines for each of the descendant from a project eg xnat:subjectData, xnat:mrSessionData, xnat:petSessionData, cnda:segmentationData etc</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="pipeline" maxOccurs="unbounded">
													<xs:annotation>
														<xs:appinfo>
															<xdat:field>
																<xdat:relation uniqueComposite="true" relationType="single"/>
															</xdat:field>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="arc:pipelineData">
																<xs:attribute name="stepId" type="xs:string" use="required">
																	<xs:annotation>
																		<xs:appinfo>
																			<xdat:field uniqueComposite="true"/>
																		</xs:appinfo>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="dependent" type="xs:boolean" use="optional" default="true"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="xsiType" type="xs:string" use="required">
												<xs:annotation>
													<xs:appinfo>
														<xdat:field uniqueComposite="true"/>
													</xs:appinfo>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="pipeline" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Pipelines for the project</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="arc:pipelineData">
										<xs:attribute name="stepId" type="xs:string" use="required"/>
										<xs:attribute name="dependent" type="xs:boolean" use="optional" default="true">
											<xs:annotation>
												<xs:documentation>Specify true if this pipeline is launchable only when all the previous pipelines have completed succesfully. Set this value to false if this pipeline can be run independent of others. </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="pipelineId">
					<xs:selector xpath=".//arc:pipeline"/>
					<xs:field xpath="@stepId"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:appinfo>
					<xdat:field unique="true"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="current_arc" type="xs:string" use="optional"/>
		<xs:attribute name="quarantine_code" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Whether image data for this project should be placed in quarantine</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="prearchive_code" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>0: all data placed in prearchive (default); 1: sessions which match precreated project, subject, and session id are auto-archived; 2: sessions which match precreated project and subject will be auto-archived; 3: sessions which match precreated projects will be auto-archived; 4: all sessions will be auto-archived; 5: all sessions will be auto-archived and overwrite existing files</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="pipelineData">
		<xs:annotation>
			<xs:appinfo>
				<xdat:element ignoreWarnings="true" matchByValues="true"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="displayText" type="xs:string">
				<xs:annotation>
					<xs:documentation>The text to be displayed on the web page for this pipeline. Used more like a title for the page</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the pipeline</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="location" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Path to pipeline descriptor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Short description of the pipeline</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameters" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="parameter" type="arc:pipelineParameterData" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<xdat:field>
										<xdat:relation uniqueComposite="PARAM_NAME"/>
									</xdat:field>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="customwebpage" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the custom page which will be used to display this pipeline step, if the auto generated page doesnt suit the user requirements</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pipelineParameterData">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="schemaLink" type="xs:string"/>
				<xs:element name="csvValues">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="selected" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:appinfo>
					<xdat:field uniqueComposite="PARAM_NAME"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="multipleValues" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="editable" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="batchParam" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="pathInfo">
		<xs:sequence>
			<xs:element name="archivePath" type="xs:string" minOccurs="0"/>
			<xs:element name="prearchivePath" type="xs:string" minOccurs="0"/>
			<xs:element name="cachePath" type="xs:string" minOccurs="0"/>
			<xs:element name="buildPath" type="xs:string" minOccurs="0"/>
			<xs:element name="ftpPath" type="xs:string" minOccurs="0"/>
			<xs:element name="pipelinePath" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="property">
		<xs:annotation>
			<xs:appinfo>
				<xdat:field size="10000"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string">
					<xs:annotation>
						<xs:appinfo>
							<xdat:field uniqueComposite="PROP_NAME" size="10000"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="fieldSpecification">
		<xs:annotation>
			<xs:appinfo>
				<xdat:field size="10000"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string">
					<xs:annotation>
						<xs:appinfo>
							<xdat:field uniqueComposite="SPEC_NAME" size="10000"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
