plugin-resources/project-skeletons/xnat/src/schemas/assessments/assessments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Washington University Radiolodical Science (Washington University in St. Louis) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xnat="http://nrg.wustl.edu/xnat" xmlns:xnat_a="http://nrg.wustl.edu/xnat_assessments" targetNamespace="http://nrg.wustl.edu/xnat_assessments" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
	<xs:element name="SideEffectsPittsburgh" type="xnat_a:sideEffectsPittsburghData">
		<xs:annotation>
			<xs:documentation>Pittsburgh Side Effects Scale</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="YBOCS" type="xnat_a:ybocsData">
		<xs:annotation>
			<xs:documentation>Yale-Brown Obsessive-Compusive Scale</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="YGTSS" type="xnat_a:ygtssData">
		<xs:annotation>
			<xs:documentation>Yale Global Tic Severity Scale</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UPDRS3" type="xnat_a:updrs3Data">
		<xs:annotation>
			<xs:documentation>Unified Parkinson Disease Rating Scale</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SCID" type="xnat_a:scidResearchData">
		<xs:annotation>
			<xs:documentation>Structured Clinical Interview for DSM Disorders</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="sideEffectsPittsburghData">
		<xs:annotation>
			<xs:documentation>Pittsburgh Side Effects Scale</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="motorTics" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="buccal_lingualMovements" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="picking_skin_fingers_nails_lip" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="worried_anxious" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dull_tired_listless" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="sedation" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="stomachache" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="nausea_vomiting" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="crabby_irritable" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="tearful_sad_depressed" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="hallucinations" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="troubleSleeping" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="lossOfAppetite" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="troubleConcentrating_distractible" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dizziness_lightheadedness" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="headaches" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="socialWithdrawal" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dryMouth" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="palpitations" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ybocsData">
		<xs:annotation>
			<xs:documentation>Yale-Brown Obsessive Compulsive Scale</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="currentOrWorstEver" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Does this entry represent current or worst ever symptoms?</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="current"/>
								<xs:enumeration value="worst ever"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="timeOccupiedWithThoughts" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="thoughtsInterfereFunctioning" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="distressCaused" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="effortToResistThoughts" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="controlOverThoughts" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="timePerforming" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="behaviorsInterfereFunctioning" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="feelingIfPrevented" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="effortToResistBehaviors" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="behaviorDriveStrength" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="untilJustRight" type="xs:boolean" minOccurs="0"/>
					<xs:element name="untilJustRightAwareness" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Mental, physical, somewhere in between</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="untilJustRightPerceptions" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>How things look, how things feel, how things sound</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="whenStartUntilJustRight" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Before starting, at start, during</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="frequencyUntilJustRight" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="frequently"/>
								<xs:enumeration value="occasionally"/>
								<xs:enumeration value="hardly ever"/>
								<xs:enumeration value="never"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="firstUntilJustRightAge" type="xs:float" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ygtssData">
		<xs:annotation>
			<xs:documentation>Yale Global Tic Severity Scale</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="filledOutBy" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>self, parent, KJB, BS, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="period" minOccurs="0">
						<xs:annotation>
							<xs:documentation>current or worst ever</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="current"/>
								<xs:enumeration value="worst ever"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="worstEverAge" type="xs:float" minOccurs="0">
						<xs:annotation>
							<xs:documentation>only if worst ever</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="motor" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="number" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = none; 1 = single tic; 2 = 2-5 discrete tics; 3 = >5 discrete tics; 4 = at least one orchestrated pattern; 5 = >2 patterns</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="frequency" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = none; 1 = rarely; 2 = occasionally; 3 = frequently; 4 = almost always; 5 = always</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="intensity" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = absent; 1 = minimal; 2 = mild; 3 = moderate; 4 = marked; 5 = severe</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="complexity" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = none; 1 = borderline; 2 = mild; 3 = moderate; 4 = marked; 5 = severe</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="interference" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = none; 1 = minimal; 2 = mild; 3 = moderate; 4 = marked; 5 = severe</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="inventory" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>list of tics during week being rated</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="phonic" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="number" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = none; 1 = single tic; 2 = 2-5 discrete tics; 3 = >5 discrete tics; 4 = at least one orchestrated pattern; 5 = >2 patterns</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="frequency" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = none; 1 = rarely; 2 = occasionally; 3 = frequently; 4 = almost always; 5 = always</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="intensity" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = absent; 1 = minimal; 2 = mild; 3 = moderate; 4 = marked; 5 = severe</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="complexity" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = none; 1 = borderline; 2 = mild; 3 = moderate; 4 = marked; 5 = severe</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="interference" minOccurs="0">
									<xs:annotation>
										<xs:documentation>0 = none; 1 = minimal; 2 = mild; 3 = moderate; 4 = marked; 5 = severe</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="inventory" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>list of tics during week being rated</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="impairment" minOccurs="0">
						<xs:annotation>
							<xs:documentation>0 = none; 10 = minimal; 20 = mild; 30 = moderate; 40 = marked; 50 = severe</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="updrs3Data">
		<xs:annotation>
			<xs:documentation>Unified Parkinson's Disease Rating Scale</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="inScanner" type="xs:boolean" minOccurs="0"/>
					<xs:element name="clicker" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="right" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Right hand click count (usually best of 2)</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="left" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Left hand click count (usually best of 2)</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="interval">
									<xs:annotation>
										<xs:documentation>Number of seconds allowed for each clicker rating</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="tremorRest" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="face" minOccurs="0"/>
								<xs:element name="rue" minOccurs="0"/>
								<xs:element name="lue" minOccurs="0"/>
								<xs:element name="rle" minOccurs="0"/>
								<xs:element name="lle" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="rigidity" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="neck" minOccurs="0"/>
								<xs:element name="rue" minOccurs="0"/>
								<xs:element name="lue" minOccurs="0"/>
								<xs:element name="rle" minOccurs="0"/>
								<xs:element name="lle" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="handMovementsGrip" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="right" type="xs:integer" minOccurs="0"/>
								<xs:element name="left" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="facialExpression" type="xs:integer" minOccurs="0"/>
					<xs:element name="gait" type="xs:integer" minOccurs="0"/>
					<xs:element name="speech" type="xs:integer" minOccurs="0"/>
					<xs:element name="writing" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>not in UPDRS section III (?)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ariseFromChair" type="xs:integer" minOccurs="0"/>
					<xs:element name="actionPosturalTremor" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="right" type="xs:integer" minOccurs="0"/>
								<xs:element name="left" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="handsRAM" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="right" type="xs:integer" minOccurs="0"/>
								<xs:element name="left" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="fingerTaps" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="right" type="xs:integer" minOccurs="0"/>
								<xs:element name="left" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="posture" type="xs:integer" minOccurs="0"/>
					<xs:element name="posturalStability" type="xs:integer" minOccurs="0"/>
					<xs:element name="footTaps" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="right" type="xs:integer" minOccurs="0"/>
								<xs:element name="left" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="bodyBradykinesiaHypokinesia" type="xs:integer" minOccurs="0"/>
					<xs:element name="problem" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="scidResearchData">
		<xs:annotation>
			<xs:documentation>Structured Clinical Interview for DSM-III-R (research version)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="administrator" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Person administering the test</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="moodEpisodes" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="currentMajorDepressiveEpisode" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastMajorDepressiveEpisode" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentManicEpisode" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastManicEpisode" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentHypomanicEpisode" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastHypomanicEpisode" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentDysthmicEpisode" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentMoodDisorderDueToMedicalCondition" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastMoodDisorderDueToMedicalCondition" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSubstanceInducedMoodDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSubstanceInducedMoodDisorder" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="psychoticSymptoms" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="currentDelusions" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastDelusions" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentHallucinations" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastHallucinations" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentDisorganizedSpeechBehavior" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastDisorganizedSpeechBehavior" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentCatatonicBehavior" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastCatatonicBehavior" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentNegativeSymptoms" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastNegativeSymptoms" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="psychoticDisorders" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="currentSchizophrenia" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSchizophrenia" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentParanoidType" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastParanoidType" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentCatatonicType" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastCatatonicType" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentDisorganizedType" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastDisorganizedType" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentUndifferentiatedType" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastUndifferentiatedType" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentResidualType" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastResidualType" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSchizophreniformDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSchizophreniformDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSchizoaffectiveDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSchizoaffectiveDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentDelusionalDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastDelusionalDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentBriefPsychoticDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastBriefPsychoticDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentPsychoticDisorderDueToMedicalCondition" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastPsychoticDisorderDueToMedicalCondition" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSubstanceInducedPsychoticDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSubstanceInducedPsychoticDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentPsychoticDisorderNOS" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>not otherwise specified</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="pastPsychoticDisorderNOS" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>not otherwise specified</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="moodDisorders" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="currentBipolar1Disorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastBipolar1Disorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentBipolar2Disorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastBipolar2Disorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentOtherBipolarDisorder" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>cyclothymic disorder, bipolar disorder NOS</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="pastOtherBipolarDisorder" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>cyclothymic disorder, bipolar disorder NOS</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="currentMajorDepressiveDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastMajorDepressiveDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentDepressiveDisorderNOS" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>not otherwise specified</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="pastDepressiveDisorderNOS" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>not otherwise specified</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="substanceUseDisorders" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="currentAlcoholDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastAlcoholDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentAlcoholAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastAlcoholAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentAmphetamineDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastAmphetamineDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentAmphetamineAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastAmphetamineAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentCannabisDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastCannabisDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentCannabisAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastCannabisAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentCocaineDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastCocaineDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentCocaineAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastCocaineAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentHallucinogenDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastHallucinogenDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentHallucinogenAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastHallucinogenAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentOpioidDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastOpioidDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentOpioidAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastOpioidAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentPhencyclidineDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastPhencyclidineDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentPhencyclidineAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastPhencyclidineAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSedativeHypnoticAnxiolyticDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSedativeHypnoticAnxiolyticDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSedativeHypnoticAnxiolyticAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSedativeHypnoticAnxiolyticAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentPolysubstanceDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastPolysubstanceDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentOtherOrUnknownDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastOtherOrUnknownDependence" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentOtherOrUnknownAbuse" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastOtherOrUnknownAbuse" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="anxietyDisorders" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="currentPanicWithAgoraphobia" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastPanicWithAgoraphobia" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentPanicWithoutAgoraphobia" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastPanicWithoutAgoraphobia" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentAgoraphobiaWithoutPanicHx" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastAgoraphobiaWithoutPanicHx" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSocialPhobia" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSocialPhobia" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSpecificPhobia" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSpecificPhobia" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentOCD" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Obsessive-Compulsive Disorder</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="pastOCD" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Obsessive-Compulsive Disorder</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="currentPTSD" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Posttraumatic Stress Disorder</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="pastPTSD" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Posttraumatic Stress Disorder</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="currentGeneralizedAnxietyDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentAnxietyDueToMedicalCondition" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastAnxietyDueToMedicalCondition" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentSubstanceInducedAnxietyDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSubstanceInducedAnxietyDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentAnxietyDisorderNOS" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>not otherwise specified</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="pastAnxietyDisorderNOS" type="xs:integer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>not otherwise specified</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="somatoformDisorders" minOccurs="0">
						<xs:annotation>
							<xs:documentation>current only</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="somatizationDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="undifferentiatedSomatformDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="painDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="hypochondriasis" type="xs:integer" minOccurs="0"/>
								<xs:element name="bodyDysmorphicDisorder" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="eatingDisorders" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="currentAnorexiaNervosa" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastAnorexiaNervosa" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentBulimiaNervosa" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastBulimiaNervosa" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentBingeEatingDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastBingeEatingDisorder" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="adjustmentDisorder" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>current only</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="optional" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="currentAcuteStressDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastAcuteStressDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentMinorDepressiveDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastMinorDepressiveDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="currentMixedAnxietyDepressiveDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastMixedAnxietyDepressiveDisorder" type="xs:integer" minOccurs="0"/>
								<xs:element name="pastSympomaticDetails" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Symptomatic details of past major depressive/manic episodes</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
