plugin-resources/project-skeletons/xnat/src/schemas/ext/ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ D:/Development/XNAT/1.6/xnat_builder_1_6dev/plugin-resources/project-skeletons/xnat/src/schemas/ext/ext.xsd
  ~ XNAT http://www.xnat.org
  ~ Copyright (c) 2014, Washington University School of Medicine
  ~ All Rights Reserved
  ~
  ~ Released under the Simplified BSD.
  ~
  ~ Last modified 2/7/14 12:19 PM
  -->
<xs:schema targetNamespace="http://nrg.wustl.edu/ext" xmlns:ext="http://nrg.wustl.edu/ext" xmlns:xdat="http://nrg.wustl.edu/xdat" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xnat="http://nrg.wustl.edu/xnat" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
	<xs:element name="AtlasScalingFactor" type="ext:atlasScalingFactorData"/>
	<xs:element name="ClinicalAssessment" type="ext:clinicalAssessmentData"/>
	<xs:element name="SegmentationFast" type="ext:segmentationFastData"/>
	<xs:complexType name="atlasScalingFactorData">
		<xs:complexContent>
			<xs:extension base="xnat:mrAssessorData">
				<xs:sequence>
					<xs:element name="scalingFactor" type="xs:float"/>
					<xs:element name="eta" type="xs:float"/>
					<xs:element name="eICV" type="xs:float"/>
					<xs:element name="baseScanNumber" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="clinicalAssessmentData">
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="Diagnosis" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>DIAG1 - 5; DX1-5</xs:documentation>
							<xs:appinfo>
								<xdat:field uniqueComposite="UNIQUE_NAME_VALUE">
									<xdat:relation uniqueComposite="UNIQUE_NAME_VALUE"/>
								</xdat:field>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="primary"/>
												<xs:enumeration value="secondary"/>
												<xs:enumeration value="tertiary"/>
												<xs:enumeration value="additional"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="number" type="xs:integer" use="optional"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="BloodPressure" minOccurs="0">
						<xs:annotation>
							<xs:documentation>SYSBP and DIASBP</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="HighBP_CS_Bool" type="xs:boolean" use="optional"/>
							<xs:attribute name="systolic" type="xs:integer" use="optional"/>
							<xs:attribute name="diastolic" type="xs:integer" use="optional"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Neuro" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="SBT" minOccurs="0">
									<xs:annotation>
										<xs:documentation>SBT; Katzman Short Blessed Test</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="30"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="MMSE" minOccurs="0">
									<xs:annotation>
										<xs:documentation>MMSE; Mini Mental State Exam</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="30"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Bdsc" minOccurs="0">
									<xs:annotation>
										<xs:documentation>BDSC; Blessed Dementia Scale, Cognitive Portion</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:float">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="CDR" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Clinical Dementia Rating</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="memory" minOccurs="0">
												<xs:annotation>
													<xs:documentation>INT110; CDR: memory</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:float">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="3"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="orientation" minOccurs="0">
												<xs:annotation>
													<xs:documentation>INT111; CDR: orientation</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:float">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="3"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="judgment_problem_solving" minOccurs="0">
												<xs:annotation>
													<xs:documentation>INT112; CDR: judgment and problem solving</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:float">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="3"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="community_affairs" minOccurs="0">
												<xs:annotation>
													<xs:documentation>INT113; CDR: community affairs</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:float">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="3"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="home_hobbies" minOccurs="0">
												<xs:annotation>
													<xs:documentation>INT114; CDR: home and hobbies</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:float">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="3"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="personal_care" minOccurs="0">
												<xs:annotation>
													<xs:documentation>INT115; CDR: personal care</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:float">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="3"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="sumbox" use="optional">
											<xs:annotation>
												<xs:documentation>SUMBOX; Summary score of boxes in CDR</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:float">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="18"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="rating" type="xs:float" use="optional"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="ThinkingProblem_S_Bool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>INT501; thinking according to S</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ThinkingProblem_CS_Bool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>INT324; thinking according to CS</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ConsMemoryProblem_Bool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>INT415; Consistent memory problems</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="StrokeBool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>INT015; strokes or tias</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Sx_Stroke_Bool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>SX_STROKE; stroke symptoms</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Sx_Tia_Bool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>SX_TIA; tia symptoms</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Movement" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Spasticity_Bool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>INT121; spasticity</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Rigid" minOccurs="0">
									<xs:annotation>
										<xs:documentation>RIGID; Cogwhell rigidity</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Bradyk_Bool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>BRADYK; bradykinesia</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Gait" minOccurs="0">
									<xs:annotation>
										<xs:documentation>GAIT; extrapyramidal disorder</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="5"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="AbnormalGait_Bool" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>INT572; abnormal/normal concerning gait</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Medication" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>INT601-604; INT615-INT617; INT624-626; INT632-633</xs:documentation>
							<xs:appinfo>
								<xdat:field>
									<xdat:relation uniqueComposite="UNIQUE_NAME_VALUE"/>
								</xdat:field>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="name" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xdat:field uniqueComposite="UNIQUE_NAME_VALUE"/>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="type" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="cardiovascular"/>
										<xs:enumeration value="bp-heart"/>
										<xs:enumeration value="other"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="dose" type="xs:string" use="optional"/>
							<xs:attribute name="history" type="xs:string" use="optional"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Weight" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>WEIGHT; Body Weight (lbs.)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Diabetes_Bool" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DIAB; Diabetes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeartProblems_Bool" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>HEART; heart problems</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TobaccoUse_Bool" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TOBAC; tobacco use</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="segmentationFastData">
		<xs:complexContent>
			<xs:extension base="xnat:mrAssessorData">
				<xs:sequence>
					<xs:element name="brainVolume" type="xnat:volumetricRegion"/>
				</xs:sequence>
				<xs:attribute name="brainPercent" type="xs:float"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
